icon2-common-models/src/main/resources/xsdSchemas/e-reporting-models-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="ICON2.Source.EReporting.ws.provider:EReporting"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ICON2.Source.EReporting.ws.provider:EReporting">

    <xsd:element name="getMessage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getMessageDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AppointmentMessage" nillable="true" type="tns:appointmentMessage"/>
                <xsd:element name="UserToken" nillable="true" type="tns:userToken"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getMessageResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Error">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Reason" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getLocations">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getLocationsDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Locations" nillable="true" type="tns:locations"/>
                <xsd:element name="UserToken" nillable="true" type="tns:userToken"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="locations">
        <xsd:sequence>
            <xsd:element name="csNum" nillable="true" type="xsd:string"/>
            <xsd:element name="Location" nillable="true" type="tns:location" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="location">
        <xsd:sequence>
            <xsd:element name="locationCd" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getLocationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="setMessageDate">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="setMessageDateDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AppointmentMessage" nillable="true" type="tns:appointmentMessage"/>
                <xsd:element name="UserToken" nillable="true" type="tns:userToken"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="appointmentMessage">
        <xsd:sequence>
            <xsd:element name="csNum" nillable="true" type="xsd:string"/>
            <xsd:element name="text" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="setMessageDateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="submitAnswers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="submitAnswersDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EReport" nillable="true" type="tns:ereport"/>
                <xsd:element name="UserToken" nillable="true" type="tns:userToken"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="ereport">
        <xsd:sequence>
            <xsd:element name="csNum" nillable="true" type="xsd:string"/>
            <xsd:element name="deviceNo" nillable="true" type="xsd:string"/>
            <xsd:element name="eventID" nillable="true" type="xsd:string"/>
            <xsd:element name="state" nillable="true" type="xsd:string"/>
            <xsd:element name="Question" nillable="true" type="tns:question" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="question">
        <xsd:sequence>
            <xsd:element name="questionId" nillable="true" type="xsd:string"/>
            <xsd:element name="standardQuestionID" nillable="true" type="xsd:string"/>
            <xsd:element name="standardText" nillable="true" type="xsd:string"/>
            <xsd:element name="additionalText" nillable="true" type="xsd:string"/>
            <xsd:element name="Answer" nillable="true" type="tns:answer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="answer">
        <xsd:sequence>
            <xsd:element name="code" nillable="true" type="xsd:string"/>
            <xsd:element name="description" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="submitAnswersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getAppointmentDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Appointment" nillable="true" type="tns:appointment"/>
                <xsd:element name="UserToken" nillable="true" type="tns:userToken"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="getAppointment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="appointment">
        <xsd:sequence>
            <xsd:element name="csNum" nillable="true" type="xsd:string"/>
            <xsd:element name="startDate" nillable="true" type="xsd:string"/>
            <xsd:element name="endDate" nillable="true" type="xsd:string"/>
            <xsd:element name="startTime" nillable="true" type="xsd:string"/>
            <xsd:element name="endTime" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="userToken">
        <xsd:sequence>
            <xsd:element name="RemoteClientBrowserType" nillable="true" type="xsd:string"/>
            <xsd:element name="RemoteClientHostName" nillable="true" type="xsd:string"/>
            <xsd:element name="RemoteClientIPAddress" nillable="true" type="xsd:string"/>
            <xsd:element name="UserIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element name="AuthoritativePartyIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element name="BiometricsSignature" nillable="true" type="xsd:string"/>
            <xsd:element name="CSNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="SiteMinderSessionID" nillable="true" type="xsd:string"/>
            <xsd:element name="SiteMinderTransactionID" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAppointmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="recordCompleted">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="recordCompletedDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ClientLogNotification" nillable="true" type="tns:clientLogNotification"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="clientLogNotification">
        <xsd:sequence>
            <xsd:element name="csNum" nillable="true" type="xsd:string"/>
            <xsd:element name="eventID" nillable="true" type="xsd:string"/>
            <xsd:element name="eventState" nillable="true" type="xsd:string"/>
            <xsd:element name="deviceNo" nillable="true" type="xsd:string"/>
            <xsd:element name="message" nillable="true" type="xsd:string"/>
            <xsd:element name="messageType" nillable="true" type="xsd:string"/>
            <xsd:element name="reauthTransactionNo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="recordCompletedResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="recordException">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="recordExceptionDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ClientLogNotification" nillable="true" type="tns:clientLogNotification"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="recordExceptionResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="getQuestions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getQuestionsDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="EReport" nillable="true" type="tns:ereport"/>
                <xsd:element name="UserToken" nillable="true" type="tns:userToken"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getQuestionsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getStatus">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getStatusDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Status" nillable="true" type="tns:status"/>
                <xsd:element name="UserToken" nillable="true" type="tns:userToken"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="status">
        <xsd:sequence>
            <xsd:element name="eventId" nillable="true" type="xsd:string"/>
            <xsd:element name="csNum" nillable="true" type="xsd:string"/>
            <xsd:element name="hasNextAppointment" nillable="true" type="xsd:string"/>
            <xsd:element name="isCurrentAppointment" nillable="true" type="xsd:string"/>
            <xsd:element name="profileEnabled" nillable="true" type="xsd:string"/>
            <xsd:element name="answersSubmitted" nillable="true" type="xsd:string"/>
            <xsd:element name="answersCorrect" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getStatusResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getReportingCmpltInstruction">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getReportingCmpltInstructionDocument">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReportingCmpltInstruction" nillable="true" type="tns:reportingCmpltInstruction"/>
                <xsd:element name="UserToken" nillable="true" type="tns:userToken"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="reportingCmpltInstruction">
        <xsd:sequence>
            <xsd:element name="csNum" nillable="true" type="xsd:string"/>
            <xsd:element name="text" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getReportingCmpltInstructionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>