jag-icon2-common-application/src/main/resources/wsdl/ErrorHandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ErrorHandling" targetNamespace="http://reeks.bcgov/ICON2.Source.Common.ws.provider:ErrorHandling" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://reeks.bcgov/ICON2.Source.Common.ws.provider:ErrorHandling" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://reeks.bcgov/ICON2.Source.Common.ws.provider:ErrorHandling" xmlns:tns="http://reeks.bcgov/ICON2.Source.Common.ws.provider:ErrorHandling" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="setErrorMessage" type="tns:setErrorMessage"/>
            <xsd:complexType name="setErrorMessage">
                <xsd:sequence>
                    <xsd:element name="msgCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="errorMsg" nillable="true" type="xsd:string"/>
                    <xsd:element name="certNm" nillable="true" type="xsd:string"/>
                    <xsd:element name="csNum" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ErrorHandling_PortType_setErrorMessage">
        <wsdl:part name="parameters" element="tns:setErrorMessage">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ErrorHandling_PortType">
        <wsdl:operation name="setErrorMessage">
            <wsdl:input message="tns:ErrorHandling_PortType_setErrorMessage">
            </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ICON2_Source_Common_ws_provider_ErrorHandling_Binder" type="tns:ErrorHandling_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="setErrorMessage">
            <soap:operation soapAction="ICON2_Source_Common_ws_provider_ErrorHandling_Binder_setErrorMessage" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ICON2.Source.Common.ws.provider.ErrorHandling">
        <wsdl:port name="ICON2_Source_Common_ws_provider_ErrorHandling_Port" binding="tns:ICON2_Source_Common_ws_provider_ErrorHandling_Binder">
            <soap:address location="http://reeks.bcgov:5556/ws/ICON2.Source.Common.ws.provider.ErrorHandling/ICON2_Source_Common_ws_provider_ErrorHandling_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
