jag-icon2-common-application/src/main/resources/wsdl/MyInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="MyInfo" targetNamespace="ICON2.Source.MyInfo.ws.provider:MyInfo" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="ICON2.Source.MyInfo.ws.provider:MyInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="ICON2.Source.MyInfo.ws.provider:MyInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ICON2.Source.MyInfo.ws.provider:MyInfo">
            <xsd:complexType name="getOrders">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                    <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getOrdersResponse">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element name="Reason" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getPrograms">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                    <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getProgramsResponse">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getLocations">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                    <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getLocationsResponse">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getClientHistory">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                    <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getClientHistoryResponse">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getConditions">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                    <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getConditionsResponse">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getOrdersConditions">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                    <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getOrdersConditionsResponse">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getDates">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                    <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getDatesResponse">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getPrograms" type="tns:getPrograms"/>
            <xsd:element name="getProgramsResponse" type="tns:getProgramsResponse"/>
            <xsd:element name="Error" type="tns:Error"/>
            <xsd:element name="getLocations" type="tns:getLocations"/>
            <xsd:element name="getLocationsResponse" type="tns:getLocationsResponse"/>
            <xsd:element name="getOrders" type="tns:getOrders"/>
            <xsd:element name="getOrdersResponse" type="tns:getOrdersResponse"/>
            <xsd:element name="getDates" type="tns:getDates"/>
            <xsd:element name="getDatesResponse" type="tns:getDatesResponse"/>
            <xsd:element name="getClientHistory" type="tns:getClientHistory"/>
            <xsd:element name="getClientHistoryResponse" type="tns:getClientHistoryResponse"/>
            <xsd:element name="getConditions" type="tns:getConditions"/>
            <xsd:element name="getConditionsResponse" type="tns:getConditionsResponse"/>
            <xsd:element name="getOrdersConditions" type="tns:getOrdersConditions"/>
            <xsd:element name="getOrdersConditionsResponse" type="tns:getOrdersConditionsResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MyInfo_PortType_getClientHistory">
        <wsdl:part name="parameters" element="tns:getClientHistory">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getLocations">
        <wsdl:part name="parameters" element="tns:getLocations">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
        <wsdl:part name="parameters" element="tns:Error">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getProgramsResponse">
        <wsdl:part name="parameters" element="tns:getProgramsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getDatesResponse">
        <wsdl:part name="parameters" element="tns:getDatesResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getOrdersResponse">
        <wsdl:part name="parameters" element="tns:getOrdersResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getDates">
        <wsdl:part name="parameters" element="tns:getDates">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getPrograms">
        <wsdl:part name="parameters" element="tns:getPrograms">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getClientHistoryResponse">
        <wsdl:part name="parameters" element="tns:getClientHistoryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getConditionsResponse">
        <wsdl:part name="parameters" element="tns:getConditionsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getOrdersConditions">
        <wsdl:part name="parameters" element="tns:getOrdersConditions">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getConditions">
        <wsdl:part name="parameters" element="tns:getConditions">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getOrders">
        <wsdl:part name="parameters" element="tns:getOrders">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getOrdersConditionsResponse">
        <wsdl:part name="parameters" element="tns:getOrdersConditionsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MyInfo_PortType_getLocationsResponse">
        <wsdl:part name="parameters" element="tns:getLocationsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MyInfo_PortType">
        <wsdl:operation name="getPrograms">
            <wsdl:input message="tns:MyInfo_PortType_getPrograms">
            </wsdl:input>
            <wsdl:output message="tns:MyInfo_PortType_getProgramsResponse">
            </wsdl:output>
            <wsdl:fault name="Error" message="tns:Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLocations">
            <wsdl:input message="tns:MyInfo_PortType_getLocations">
            </wsdl:input>
            <wsdl:output message="tns:MyInfo_PortType_getLocationsResponse">
            </wsdl:output>
            <wsdl:fault name="Error" message="tns:Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOrders">
            <wsdl:input message="tns:MyInfo_PortType_getOrders">
            </wsdl:input>
            <wsdl:output message="tns:MyInfo_PortType_getOrdersResponse">
            </wsdl:output>
            <wsdl:fault name="Error" message="tns:Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDates">
            <wsdl:input message="tns:MyInfo_PortType_getDates">
            </wsdl:input>
            <wsdl:output message="tns:MyInfo_PortType_getDatesResponse">
            </wsdl:output>
            <wsdl:fault name="Error" message="tns:Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientHistory">
            <wsdl:input message="tns:MyInfo_PortType_getClientHistory">
            </wsdl:input>
            <wsdl:output message="tns:MyInfo_PortType_getClientHistoryResponse">
            </wsdl:output>
            <wsdl:fault name="Error" message="tns:Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConditions">
            <wsdl:input message="tns:MyInfo_PortType_getConditions">
            </wsdl:input>
            <wsdl:output message="tns:MyInfo_PortType_getConditionsResponse">
            </wsdl:output>
            <wsdl:fault name="Error" message="tns:Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOrdersConditions">
            <wsdl:input message="tns:MyInfo_PortType_getOrdersConditions">
            </wsdl:input>
            <wsdl:output message="tns:MyInfo_PortType_getOrdersConditionsResponse">
            </wsdl:output>
            <wsdl:fault name="Error" message="tns:Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ICON2_Source_MyInfo_ws_provider_MyInfo_Binder" type="tns:MyInfo_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPrograms">
            <soap:operation soapAction="ICON2_Source_MyInfo_ws_provider_MyInfo_Binder_getPrograms" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLocations">
            <soap:operation soapAction="ICON2_Source_MyInfo_ws_provider_MyInfo_Binder_getLocations" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOrders">
            <soap:operation soapAction="ICON2_Source_MyInfo_ws_provider_MyInfo_Binder_getOrders" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDates">
            <soap:operation soapAction="ICON2_Source_MyInfo_ws_provider_MyInfo_Binder_getDates" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientHistory">
            <soap:operation soapAction="ICON2_Source_MyInfo_ws_provider_MyInfo_Binder_getClientHistory" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConditions">
            <soap:operation soapAction="ICON2_Source_MyInfo_ws_provider_MyInfo_Binder_getConditions" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOrdersConditions">
            <soap:operation soapAction="ICON2_Source_MyInfo_ws_provider_MyInfo_Binder_getOrdersConditions" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MyInfo">
        <wsdl:port name="ICON2_Source_MyInfo_ws_provider_MyInfo_Port" binding="tns:ICON2_Source_MyInfo_ws_provider_MyInfo_Binder">
            <soap:address location="http://reeks.bcgov:5556/ws/ICON2.Source.MyInfo.ws.provider:MyInfo/ICON2_Source_MyInfo_ws_provider_MyInfo_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
