jag-icon2-common-application/src/main/resources/wsdl/TrustAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="TrustAccount" targetNamespace="ICON2.Source.TrustAccount.ws.provider:TrustAccount" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="ICON2.Source.TrustAccount.ws.provider:TrustAccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="ICON2.Source.TrustAccount.ws.provider:TrustAccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ICON2.Source.TrustAccount.ws.provider:TrustAccount">
            <xsd:complexType name="getTrustAccount">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                    <xsd:element name="UserTokenString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getTrustAccountResponse">
                <xsd:sequence>
                    <xsd:element name="XMLString" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element name="Reason" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getTrustAccount" type="tns:getTrustAccount"/>
            <xsd:element name="getTrustAccountResponse" type="tns:getTrustAccountResponse"/>
            <xsd:element name="Error" type="tns:Error"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
        <wsdl:part name="parameters" element="tns:Error">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TrustAccount_PortType_getTrustAccount">
        <wsdl:part name="parameters" element="tns:getTrustAccount">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TrustAccount_PortType_getTrustAccountResponse">
        <wsdl:part name="parameters" element="tns:getTrustAccountResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TrustAccount_PortType">
        <wsdl:operation name="getTrustAccount">
            <wsdl:input message="tns:TrustAccount_PortType_getTrustAccount">
            </wsdl:input>
            <wsdl:output message="tns:TrustAccount_PortType_getTrustAccountResponse">
            </wsdl:output>
            <wsdl:fault name="Error" message="tns:Error_ICON2_Source_Common_ErrorHandling_Docs_Error">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ICON2_Source_TrustAccount_ws_provider_TrustAccount_Binder" type="tns:TrustAccount_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getTrustAccount">
            <soap:operation soapAction="ICON2_Source_TrustAccount_ws_provider_TrustAccount_Binder_getTrustAccount" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error">
                <soap:fault name="Error" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TrustAccount">
        <wsdl:port name="ICON2_Source_TrustAccount_ws_provider_TrustAccount_Port" binding="tns:ICON2_Source_TrustAccount_ws_provider_TrustAccount_Binder">
            <soap:address location="http://reeks.bcgov:5556/ws/ICON2.Source.TrustAccount.ws.provider:TrustAccount/ICON2_Source_TrustAccount_ws_provider_TrustAccount_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
